<div>
    {% for thread in threads %}
        <div>
            {% if request.user == thread.host %}
                <a href="{% url 'update-thread' thread.id %}">Edit</a>
                <a href="{% url 'delete-thread' thread.id %}">Delete</a>
            {% endif %}
            <span>@{{thread.host.username}}</span>
            <h5>{{thread.id}} -- <a href="{% url 'thread' thread.id %}">{{thread.name}}</a></h5>
            <small>{{thread.section.name}}</small>
            <hr>
        </div>
    {% endfor %}
</div>